/*-----------------------------FONTS-----------------------------------*/
@font-face {
     font-family: 'Indie';
     src: url('../fonts/IndieFlowereot');
     src: url('../fonts/IndieFlower.eot?#iefix') format('embedded-opentype'),
         url('../fonts/IndieFlower.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}
@font-face {
     font-family: 'LatoRegular';
     src: url('../fonts/Lato-Regular');
     src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}
@font-face {
     font-family: 'Lato-Bold';
     src: url('../fonts/Lato-Bold');
     src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}
@font-face {
     font-family: 'RalewayItalic';
     src: url('../fonts/Raleway-Italic');
     src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Italic.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}
@font-face {
     font-family: 'Raleway-Regular';
     src: url('../fonts/Raleway-Regular');
     src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}

/*-----------------------------FONTS-----------------------------------*/